<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Galería - Nombre de la Empresa</title>
    <link rel="stylesheet" href="../css/styles.css">
</head>
<body>
    <header>
        <div class="logo">
            <img src="../img/logo.png" alt="Logo de la empresa">
            <span class="nombre-empresa">Nombre de la Empresa</span>
        </div>
        <nav>
            <ul>
                <li><a href="../index.html">Inicio</a></li>
				<li><a href="galeria.html">Galería</a></li>
				<li><a href="presupuesto.html">Presupuesto</a></li>
				<li><a href="contacto.html">Contacto</a></li>
            </ul>
        </nav>
    </header>

    <main>
        <h2>Galería de Imágenes</h2>
        <div id="imagenes-galeria"></div>
    </main>

    <footer>
        
        <div class="direccion">
            <p>Dirección: Calle Ficticia 123, Ciudad, País</p>
        </div>
        <div class="aviso-legal">
            <p><a href="#">Aviso Legal</a></p>
        </div>
    </footer>

    <script src="../js/galeria.js"></script>
</body>
</html>